[submodule "toolchain"]
	path = toolchain
	url = https://github.com/ShionKanagawa/android_kernel_samsung_gts7lwifi_toolchain
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/backslashxx/KernelSU
